<div class="contact-info">
  <md-list>
    <!-- Physical address -->
    <md-list-item class="contact-info-item">
        <md-icon class="contact-info-icon">location_on</md-icon>
        <div class="md-list-item-text contact-info-text" layout="column">
          <span *ngFor="let line of physicalAddress">{{line}}<br/></span>
        </div>
    </md-list-item>
    <!-- Email address -->
    <md-list-item class="contact-info-item">
      <md-icon class="contact-info-icon">email</md-icon>
      <div class="md-list-item-text contact-info-text" layout="column">
        <span >{{emailAddress}}</span>
      </div>
    </md-list-item>
    <!-- Contact phone -->
    <md-list-item class="contact-info-item">
      <md-icon class="contact-info-icon">contact_phone</md-icon>
      <div class="md-list-item-text contact-info-text" layout="column">
        <span>{{contactPhone}}</span>
      </div>
    </md-list-item>
    <!-- Postal address -->
    <md-list-item class="contact-info-item">
      <md-icon class="contact-info-icon">local_post_office</md-icon>
      <div class="md-list-item-text contact-info-text" layout="column">
        <span *ngFor="let line of postalAddress">{{line}}<br/></span>
      </div>
    </md-list-item>
  </md-list>
</div>
